---
import Layout from "@layouts/Layout.astro"

const title = 'Clasificacion | Pag.';
---

<Layout title={title}>
    
    <section class="bg-pag-m ">
    
        <h2 class="text-center font-extrabold text-2xl">Clasificación</h2>
    
    </section>
</Layout>
