---
import Logo from '@assets/logo.svg';

---

<section class="bg-page-init">
    <div class="flex flex-col justify-center items-center w-full pt-5 text-white container mx-auto max-w-[600px]">
        <Logo class="h-35 w-35" />
        <h2 class="font-bold text-2xl">FASTRAPID</h2>
        <p>Descubre las estadísticas más recientes de la Premier League, el torneo de fútbol profesional más emocionante de Colombia. Mantente al día con las posiciones, resultados y el desempeño de tus equipos favoritos en cada jornada.</p>    
    </div>
    

    
</section>
