<!-- <section class="container mx-auto px-3 max-w-[1080px] ">
    <h2 class="text-center text-4xl font-extrabold"> Estadisticas </h2>
    <div class="grid grid-cols-2">
       
            <div class="flex justify-center items-center w-full">
                <img src="/goles-pl.png" alt="" class="w-70">
                Goles
            </div>
            <div class="flex justify-center items-center">
                <img src="/asistencia-pl.png" alt="" class="w-70">
                Goles
            </div>
    </div>
</section> -->