---
import { ClientRouter } from 'astro:transitions';
import Footer from '@components/default/Footer.astro';
import Header from '@components/default/Header.astro';
import '@styles/global.css';

interface Props {
	title: string;
	footer?: boolean;
}

const { title, footer = true } = Astro.props;


---



<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ClientRouter />
	</head>
	<body class="bg-white dark:bg-[rgb(81,50,158)]">
		<Header />
		<main class="min-h-screen">
			<slot />
		</main>
		{
			footer == true && (
				<Footer />
			)
		}
	</body>
</html>

<style is:global>
	@reference '../styles/global.css';
	:root {
		--color-purple : rgb(109,56,241);
		--color-purple-2 : rgb(10,2,31);
	}
	.bg-page-init {
		@apply bg-gradient-to-b from-[rgba(109,56,241,0.8)] dark:from-[rgba(10,2,31,0.8)]  to-[rgba(255,0,0,0)] dark:to-[rgb(81,50,158)]
	}
	

	.bg-footer {
		@apply bg-gradient-to-b from-[rgba(255,0,0,0)] dark:from-[rgb(81,50,158)]  to-[rgba(109,56,241,0.8)] dark:to-[rgba(10,2,31,0.8)]
	}

	.title-page {
		@apply py-14 text-(--color-purple-2) text-center font-bold text-2xl md:text-3xl xl:text-4xl dark:text-orange-400;
	}
</style>
